<div class="sub-page-main-navigation">
    <ul>
      <li>
        <a href="#">dashboard</a>
      </li>
      <li>
        <a href="#">goals</a>
      </li>
      <li>
        <a class="active" [routerLink]="['reviews']">reviews</a>
      </li>
      <li>
        <a href="#">1-on-1's</a>
      </li>
      <li>
        <a href="#">Recognition</a>
      </li>
      <li>
        <a href="#">Competencies</a>
      </li>
      <li>
        <a href="#">job functions</a>
      </li>
      <li>
        <a href="#">settings</a>
      </li>

    </ul>
  </div>

  <router-outlet></router-outlet>