.main-container{
    // display: flex;
    // flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  
  
//   .side-navigation-container {
    // display: flex;
    // flex-direction: column;

    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;

    .side-navigation {
        // display: flex;
        width: 100px;
        background-color:#2F4055;
        // margin-left:-8px;
        .side-navigation-list{
            //   width:100%;
            padding-top:0px;
        
            
          .side-navigation-item{
            // padding-left: 15px;
            color:#A6B1BC;
            // margin-top:37px;
            padding: 20px 10px 20px 10px;
            // text-align: center;  
        
            .side-navigation-icon{
                font-size:30px;
                margin-left:25px;
                color:#A6B1BC;
            }
        }
        
        :hover{
            background-color:#424955;
        }
            }
       
      }
    .main-content{
        margin-left:92px;
    }
// }
  
  
    .sub-page-main-navigation {
        ul{
            list-style-type: none;
            padding-left:0;
            padding-top:5px;
            border-bottom: 1px solid #E3E5E8;
            margin:0 0 0 0;
            background-color:white;
            li{
                display:inline-block;
                padding-bottom: 15px;
                padding: 10px 0 17px 0;
              margin: 0 30px 0 20px;
            a{
                color:#888888;
              font-size: 13px;
              text-transform: uppercase;
              text-decoration:none;
              font-weight: 500;
              // padding: 0 30px 0 30px;
              // padding: 10px 0 17px 0;
              // margin: 0 30px 0 30px;
              font-family: "Segoe UI";
              :hover{
                  font-weight:700;
              }
            }
            
              }
  li.active{
      border-bottom:#3D9EED 2px solid;
  }
  
        }
    }
  
    .content-container{
      //   margin-left:20px;
      //   margin-right:20px;
      width:98%;
      margin-left:auto;
      margin-right:auto;
        margin-top:30px;
  
      .heading {
          color: #222222;
          font-family: "Segoe UI";
          font-size: 24px;
          line-height: 32px;
      }
  
      // ::ng-deep .mat-input-underline {
      //     display: none;
      // }
      
      // ::ng-deep .mat-form-field-infix {
      //     width: 30px;
      // }
      .main-grid-container{
        border: 1px solid #E3E5E8;
  
      .filters-container{
          border:1px solid #E3E5E8;
          background-color:white;
          .dropdown{
              padding:15px;
              // padding-right:20px;
              border-color:transparent;
              border-right-color:#A4AAB2;
              color:#A4AAB2;
          }
      }
      .filter-chips-container{
          margin: 5px 0 5px 0;
        padding: 10px 20px 10px 20px;
          
      }
      .review-grid-actions{
          padding: 20px 20px 0 20px;
          background-color:white;
      .grid-actions-icon{
           margin-top:10px;
           color:lightgrey;
      }
      }
  }
  
  .page-size-select{
      margin-top:7px;
      ::ng-deep .mat-input-underline {
          display: none;
      }
      
      ::ng-deep .mat-form-field-infix {
          width: 30px;
      }
  
      ::ng-deep .mat-select-value-text {
          color: #A4AAB2;
      }
  }
  
//   .server-filter-select{
//       border-right : 1px solid #A4AAB2;
//       ::ng-deep .mat-input-underline {
//           display: none;
//       }
      
//       ::ng-deep .mat-form-field-infix {
//           width: 130px;
//           padding:5px 10px 0px 20px;
//       }
//   }  
      
    }
    
    .btn-primary{
      background-color:#3D9EED; 
      color:white;
      margin-right:10px;
    }
  
    .btn-cancel{
      background-color:#A4AAB2; 
      color:white;
    }
  
  
  
  //   .example-container {
  //     display: flex;
  //     flex-direction: column;
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //   }
     
  //common css
  
  
  
  //material
  