<div class="child-navigation">
    <ul>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['summary']">summary</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['templates']">review templates</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['questions']">review questions</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['overview']"> Review Overview</a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>