
@import '~@angular/material/theming';

 

@include mat-core();
 

$keka-app-primary: 
mat-palette($mat-blue);

$keka-app-accent: 
mat-palette($mat-grey);
// mat-palette($mat-grey,
// A200, 
// A100, A400);
 

$keka-app-warn: 
mat-palette($mat-red);


 

$keka-app-theme: 
mat-light-theme($keka-app-primary,
$keka-app-accent,
$keka-app-warn);
 

@include angular-material-theme($keka-app-theme);


