/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-material.css";

body{
    font-family: Segoe UI;
    background-color:#F8F8F9;
}

.mat-chip:not(.mat-basic-chip) {
    border-radius: 3px !important;
}

// .mat-drawer-container{
//     z-index: -1 !important;
// }

.ag-theme-material .ag-cell {
    border-right: 1px solid #e0e0e0 ;
    padding-left:16px;
    padding-right:16px;
}


.ag-theme-material .ag-cell-focus {
    border:1px solid #3D9EED;  
}

.ag-header-cell {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.ag-theme-material .ag-header-row {
background-color: #F4F5F8;
}

.ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell {
    line-height: 40px;
    padding-left:16px;
    padding-right:16px;
}

.ag-theme-material .ag-header-cell-label .ag-header-cell-text {
    font-size: 10px;
}
.ag-theme-material .ag-header-select-all span {
    height: 76%;
    }

    .ag-icon ag-icon-desc{
        height:37px;
    }

    .ag-theme-material .ag-header-cell-label .ag-header-icon span {
     height: 10px;
    }
    //angular material override
    mat-nav-list a {
        cursor: pointer;
    }


//server filter

.server-filter-select{
    border-right : 1px solid #A4AAB2;
    // ::ng-deep 
    .mat-input-underline {
        display: none;
    }
    // ::ng-deep 
    .mat-form-field-infix {
        width: 130px;
        padding:5px 10px 0px 20px;
    }
}    


//common styles
.clear-left-padding{
    padding-left:0 !important;
}


  
.font-size-sm{
    font-size:12px;
    }
    
    .font-size-md{
        font-size:16px;
    }
    
    .font-size-lg{
        font-size:20px;
    }
    
    .text-white{
        color:white;
    }
    
    .text-grey{
        color:grey;
    }
    
    .text-align-center{
        text-align: center;
    }
    
    .display-block{
        display:block;
    }
    
    //page navigation

    .sub-page-main-navigation {
        ul{
            list-style-type: none;
            padding-left:0;
            padding-top:5px;
            border-bottom: 1px solid #E3E5E8;
            margin:0 0 0 0;
            background-color:white;
            li{
                display:inline-block;
                padding-bottom: 15px;
                padding: 10px 0 17px 0;
              margin: 0 30px 0 20px;
            a{
                color:#888888;
              font-size: 13px;
              text-transform: uppercase;
              text-decoration:none;
              font-weight: 500;
              font-family: "Segoe UI";
              :hover{
                  font-weight:700;
              }
              a.active{
                    font-weight:700;
              }
            }
            
              }
    li.active{
      border-bottom:#3D9EED 2px solid;
    }
    
        }
    }