/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ag-grid/dist/styles/ag-grid.css";
$primary-color: #2196F3;  
$accent-color: #FFD740;  
@import "~ag-grid/dist/styles/ag-theme-material.css";

body{
    font-family: Segoe UI;
    background-color:#F8F8F9;
}

.mat-chip:not(.mat-basic-chip) {
    border-radius: 3px !important;
}

// .mat-drawer-container{
//     z-index: -1 !important;
// }

.ag-theme-material .ag-cell {
    border-right: 1px solid #e0e0e0 ;
    padding-left:16px;
    padding-right:16px;
}


.ag-theme-material .ag-cell-focus {
    border:1px solid #3D9EED;  
}

.ag-header-cell {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.ag-theme-material .ag-header-row {
background-color: #F4F5F8;
}

.ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell {
    line-height: 40px;
    padding-left:16px;
    padding-right:16px;
}

.ag-theme-material .ag-header-cell-menu-button .ag-icon-menu {
    display: block;
    height: 38px;
}
.ag-icon-menu {
    display: inline-block;
    // background: transparent url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9I…ptMCA0aDEwdjJIMXptMCA0aDEwdjJIMXoiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) center no-repeat;
    background-size: 12px 12px;
    -webkit-filter: "initial";
    filter: "initial";
    height: 12px;
    width: 12px;
}
.ag-theme-material .ag-header-cell-label .ag-header-cell-text {
    font-size: 10px;
}
.ag-theme-material .ag-header-select-all span {
    height: 76%;
    }

    .ag-icon ag-icon-desc{
        height:37px;
    }

    .ag-theme-material .ag-header-cell-label .ag-header-icon span {
     height: 10px;
    }

    .ag-header-icon ag-header-cell-menu-button{
        opacity:1 !important;
    }
    //angular material override
    mat-nav-list a {
        cursor: pointer;
    }


//server filter

.server-filter-select{
    border-right : 1px solid #A4AAB2;
    // ::ng-deep 
    .mat-input-underline {
        display: none;
    }
    // ::ng-deep 
    .mat-form-field-infix {
        width: 130px;
        padding:5px 10px 0px 20px;
    }
    .mat-select-value{
        color:rgb(164, 170, 178);
    }
    .mat-select-arrow{
        color:rgb(164, 170, 178);
    }
}    


.page-size-select{
    margin-top:7px;
    .mat-input-underline {
        display: none;
    }
    
    .mat-form-field-infix {
        width: 30px;
    }

    .mat-select-value-text {
        color: #A4AAB2;
    }
}


//common styles
.clear-left-padding{
    padding-left:0 !important;
}


  
.font-size-sm{
    font-size:12px;
    }
    
    .font-size-md{
        font-size:16px;
    }
    
    .font-size-lg{
        font-size:20px;
    }
    
    .text-white{
        color:white;
    }
    
    .text-grey{
        color:grey;
    }
    
    .text-align-center{
        text-align: center;
    }
    
    .display-block{
        display:block;
    }
    .mt-7{
        margin-top:7px;
    }
    
    //page navigation

    .sub-page-main-navigation {
        ul{
            list-style-type: none;
            padding-left:0;
            padding-top:5px;
            border-bottom: 1px solid #E3E5E8;
            margin:0 0 0 0;
            background-color:white;
            li{
                display:inline-block;
                padding-bottom: 15px;
                padding: 10px 0 17px 0;
              margin: 0 30px 0 20px;
            a{
                color:#888888;
              font-size: 13px;
              text-transform: uppercase;
              text-decoration:none;
              font-weight: 500;
              font-family: "Segoe UI";
              :hover{
                  font-weight:700;
              }
            }
            a.active{
                font-weight:700;
          }
        }
        li.active{
            border-bottom:#3D9EED 2px solid;
          }
        //   li.active:after {
        //         content: " ";
        //         border-left: 7px solid transparent;
        //         border-right: 7px solid transparent;
        //         border-bottom: 7px solid #efefef;
        //         position: absolute;
        //         display: block;
        //         top: 87%;
        //         left: 50%;
        //       }
    }
    }


    //grid filter styles
    .content-container{
        width:98%;
        margin-left:auto;
        margin-right:auto;
          margin-top:30px;
    
        .heading {
            color: #222222;
            font-family: "Segoe UI";
            font-size: 24px;
            line-height: 32px;
        }
     
        .main-grid-container{
          border: 1px solid #E3E5E8;
    
        .filters-container{
            border:1px solid #E3E5E8;
            background-color:white;
            .dropdown{
                padding:15px;
                // padding-right:20px;
                border-color:transparent;
                border-right-color:#A4AAB2;
                color:#A4AAB2;
            }
            .filter-option{
                padding:10px 15px 10px 15px; 
                color:#A4AAB2;
                cursor:pointer;
                .filter-option-text{
                    margin-top: 7px;
                    margin-left: 10px;
                }
            }
            .filter-icon{
                font-size:21px;
                margin-top:3px;
            }
        }
        .filter-chips-container{
            margin: 5px 0 5px 0;
          padding: 10px 20px 10px 20px;
            
        }
        .review-grid-actions{
            padding: 20px 20px 0 20px;
            background-color:white;
        .grid-actions-icon{
             margin-top:10px;
             color:lightgrey;
        }
        }
    }
     
      }