<div class="content-container">
    <p class="heading">Grid with no filters on the top and no action buttons</p>
  <div class="main-grid-container">
    <div class="review-grid-actions" fxLayout="row-reverse" fxLayoutAlign="space-between">
        <a href="#">
          <mat-icon class="grid-actions-icon">file_download</mat-icon>
        </a>
    </div>

    <!-- grid -->
    <div class="two-line-grid"> 
      <ag-grid-angular style="width: 100%" class="ag-theme-material" [domLayout]="'autoHeight'" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
        [rowData]="rowData" paginationPageSize="2" [icons]="icons" enableColResize enableSorting enableFilter suppressRowClickSelection
        [rowSelection]="multiple" [pagination]="true" suppressPaginationPanel="true" (gridReady)="onReady($event)">
      </ag-grid-angular>
      <div class="ag-paging-panel ag-font-style">
        <span style="display:inline-block; margin-right:15px">
          Rows per page
        </span>
        <mat-form-field class="page-size-select">
          <mat-select [(value)]="pageSize">
            <mat-option [value]=1>1</mat-option>
            <mat-option [value]=2>2</mat-option>
            <mat-option [value]=3>3</mat-option>
          </mat-select>
        </mat-form-field>
      

        <span class="ag-paging-row-summary-panel">
          <span>1</span> -
          <span  >2</span> of
          <span >3</span>
        </span>
        <span class="ag-paging-page-summary-panel">
          <button type="button" class="ag-paging-button"  ref="btPrevious" disabled="">Previous</button>
          <button type="button" class="ag-paging-button" ref="btNext">Next</button>
        </span>
      </div>
      </div>

  </div>
</div>