<div class="content-container">
  <p class="heading">Grid with Two Lines per row</p>
  <div class="main-grid-container">
    <div class="filters-container" fxLayout="row">
      <mat-form-field class="server-filter-select">
        <mat-select [(value)]="selected">
          <mat-option value="1">Department</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="server-filter-select">
        <mat-select [(value)]="selected">
          <mat-option value="1">Locations</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="server-filter-select">
        <mat-select [(value)]="selected">
          <mat-option value="1">Legal Entities</mat-option>
        </mat-select>
      </mat-form-field>
      <div  class="filter-option" style=" border-right:1px solid #A4AAB2;" fxLayout="row" [matMenuTriggerFor]="menu">
        <mat-icon class="filter-icon">menu</mat-icon>
        <span class="filter-option-text">More</span>
      </div>
      <div class="filter-option" fxLayout="row">
        <mat-icon class="filter-icon">refresh</mat-icon>
        <span class="filter-option-text">Reset</span>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Option 1</span>
        </button>
        <button mat-menu-item>
          <span>Option 2</span>
        </button>
        <button mat-menu-item>
          <span>Option 3</span>
        </button>
      </mat-menu>
       
    </div>
    <div class="filter-chips-container" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-chip-list>
        <mat-chip removable="true">Marketing
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip removable="true">Hyderabad
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip removable="true">Chennai
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <small>Total 345</small>
    </div>

    <div class="review-grid-actions" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="70" fxLayoutGap="13px">
          <button mat-raised-button color="primary">Approve</button>
          <button mat-raised-button color="primary">Nudge</button>
          <button mat-raised-button color="accent" style="color:white">Cancel Review</button>
        </div>
        <div fxLayout="row-reverse" fxLayoutGap="20px" fxFlex="30">
          <a href="#">
            <mat-icon class="grid-actions-icon">file_download</mat-icon>
          </a>
          <a href="#">
            <mat-icon class="grid-actions-icon" style="transform: rotate(90deg);">menu</mat-icon>
          </a>
          <mat-form-field>
            <input matInput placeholder="Search"  #search (keyup)="filterGrid(search.value)"> 
          </mat-form-field>
        </div>
      </div >

    <!-- grid -->
    <div class="two-line-grid"> 
      <ag-grid-angular style="width: 100%" class="ag-theme-material" [domLayout]="'autoHeight'" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
        [rowData]="rowData" paginationPageSize="3" [icons]="icons" enableColResize enableSorting enableFilter suppressRowClickSelection
        [rowSelection]="multiple" [pagination]="true" suppressPaginationPanel="true" (gridReady)="onReady($event)"
        [headerHeight]="40">
      </ag-grid-angular>
      <div class="ag-paging-panel ag-font-style">
        <span style="display:inline-block; margin-right:15px">
          Rows per page
        </span>
        <mat-form-field class="page-size-select">
          <mat-select [(value)]="pageSize">
            <mat-option [value]=1>1</mat-option>
            <mat-option [value]=2>2</mat-option>
            <mat-option [value]=3>3</mat-option>
          </mat-select>
        </mat-form-field>
      

        <span class="ag-paging-row-summary-panel">
          <span>1</span> -
          <span>2</span> of
          <span>3</span>
        </span>
        <span class="ag-paging-page-summary-panel">
          <button type="button" class="ag-paging-button"  ref="btPrevious" disabled="">Previous</button>
          <button type="button" class="ag-paging-button" ref="btNext">Next</button>
        </span>
      </div>
      </div>

  </div>
</div>